# Initial Setup

Includes downloading pandas

In [1]:
# Following code is taken from Infosys Labs
# Section must be included at the beginning of each new notebook. Remember to change the app name. 
# If you're using VirtualBox, change the below to '/home/user/spark-2.1.1-bin-hadoop2.7'
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('missing').getOrCreate()
from pyspark.ml.classification import LogisticRegression

# data was taken from Machine Learning Repository url: http://archive.ics.uci.edu/ml/datasets/Diabetes+130-US+hospitals+for+years+1999-2008
df = spark.read.csv('dataset/diabetic_data3.csv',header=True,inferSchema=True)

# Import pandas.
import pandas as pd

# Step 2: Data Exploration

Data Schema

In [2]:
# print the attributes
df.printSchema()

root
 |-- encounter_id: integer (nullable = true)
 |-- patient_nbr: integer (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- admission_type_id: integer (nullable = true)
 |-- discharge_disposition_id: integer (nullable = true)
 |-- admission_source_id: integer (nullable = true)
 |-- time_in_hospital: integer (nullable = true)
 |-- payer_code: string (nullable = true)
 |-- medical_specialty: string (nullable = true)
 |-- num_lab_procedures: integer (nullable = true)
 |-- num_procedures: integer (nullable = true)
 |-- num_medications: integer (nullable = true)
 |-- number_outpatient: integer (nullable = true)
 |-- number_emergency: integer (nullable = true)
 |-- number_inpatient: integer (nullable = true)
 |-- diag_1: string (nullable = true)
 |-- diag_2: string (nullable = true)
 |-- diag_3: string (nullable = true)
 |-- number_diagnoses: integer (nullable = true)
 |-- max_glu_serum: string (nullable = true)
 |-- A1Cresult: string (nullable = true)
 |-- metformin: string (nullable = true)
 |-- repaglinide: string (nullable = true)
 |-- nateglinide: string (nullable = true)
 |-- chlorpropamide: string (nullable = true)
 |-- glimepiride: string (nullable = true)
 |-- acetohexamide: string (nullable = true)
 |-- glipizide: string (nullable = true)
 |-- glyburide: string (nullable = true)
 |-- tolbutamide: string (nullable = true)
 |-- pioglitazone: string (nullable = true)
 |-- rosiglitazone: string (nullable = true)
 |-- acarbose: string (nullable = true)
 |-- miglitol: string (nullable = true)
 |-- troglitazone: string (nullable = true)
 |-- tolazamide: string (nullable = true)
 |-- examide: string (nullable = true)
 |-- citoglipton: string (nullable = true)
 |-- insulin: string (nullable = true)
 |-- glyburide-metformin: string (nullable = true)
 |-- glipizide-metformin: string (nullable = true)
 |-- glimepiride-pioglitazone: string (nullable = true)
 |-- metformin-rosiglitazone: string (nullable = true)
 |-- metformin-pioglitazone: string (nullable = true)
 |-- change: string (nullable = true)
 |-- diabetesMed: string (nullable = true)
 |-- readmitted: string (nullable = true)

Data Sample

In [3]:
# Take the first five rows of data, and visualise.
pd.DataFrame(df.take(5), columns=df.columns)
# df.describe().toPandas()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NA,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NA,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NA,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NA,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NA,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

Summary

In [4]:
df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
encounter_id,101766,1.652016456229782E8,1.0264029598345788E8,12522,443867222
patient_nbr,101766,5.4330400694947235E7,3.869635934653421E7,135,189502619
race,101766,None,None,AfricanAmerican,Other
gender,101766,None,None,Female,Unknown/Invalid
age,101766,None,None,[0-10),[90-100)
weight,101766,None,None,>200,[75-100)
admission_type_id,101766,2.024006053102215,1.4454028297561132,1,8
discharge_disposition_id,101766,3.7156417664052825,5.280165509299248,1,28
admission_source_id,101766,5.754436648782501,4.064080834283912,1,25
time_in_hospital,101766,4.395986871843248,2.985107767471267,1,14
payer_code,101766,None,None,BC,WC
medical_specialty,101766,None,None,AllergyandImmunology,Urology
num_lab_procedures,101766,43.09564098028811,19.674362249142096,1,132
num_procedures,101766,1.339730361810428,1.705806979121172,0,6
num_medications,101766,16.021844230882614,8.127566209167309,1,81
number_outpatient,101766,0.36935715268360747,1.2672650965326817,0,42
number_emergency,101766,0.19783621248747127,0.9304722684224632,0,76
number_inpatient,101766,0.635565906098304,1.26286329009732,0,21
diag_1,101766,493.5830703296812,206.71532043694555,10,V71
diag_2,101766,438.67488318230863,178.90163753828557,11,V86
diag_3,101766,418.17928540694663,177.32397864613674,11,V86
number_diagnoses,101766,7.422606764538254,1.9336001449974247,1,16
max_glu_serum,101766,None,None,>200,Norm
A1Cresult,101766,None,None,>7,Norm
metformin,101766,None,None,Down,Up
repaglinide,101766,None,None,Down,Up
nateglinide,101766,None,None,Down,Up
chlorpropamide,101766,None,None,Down,Up
glimepiride,101766,None,None,Down,Up
acetohexamide,101766,None,None,No,Steady
glipizide,101766,None,None,Down,Up
glyburide,101766,None,None,Down,Up
tolbutamide,101766,None,None,No,Steady
pioglitazone,101766,None,None,Down,Up
rosiglitazone,101766,None,None,Down,Up
acarbose,101766,None,None,Down,Up
miglitol,101766,None,None,Down,Up
troglitazone,101766,None,None,No,Steady
tolazamide,101766,None,None,No,Up
examide,101766,None,None,No,No
citoglipton,101766,None,None,No,No
insulin,101766,None,None,Down,Up
glyburide-metformin,101766,None,None,Down,Up
glipizide-metformin,101766,None,None,No,Steady
glimepiride-pioglitazone,101766,None,None,No,Steady
metformin-rosiglitazone,101766,None,None,No,Steady
metformin-pioglitazone,101766,None,None,No,Steady
change,101766,None,None,Ch,No
diabetesMed,101766,None,None,No,Yes
readmitted,101766,None,None,<30,NO

In [5]:
print('General Patiet Stats')
df.groupBy('race').count().orderBy('race').show()
df.groupBy('gender').count().orderBy('gender').show()
df.groupBy('weight').count().orderBy('weight').show()
# df.groupBy('weight').count().orderBy('weight').toPandas()

General Patiet Stats
+---------------+-----+
|           race|count|
+---------------+-----+
|AfricanAmerican|19210|
|          Asian|  641|
|      Caucasian|76099|
|       Hispanic| 2037|
|             NA| 2273|
|          Other| 1506|
+---------------+-----+

+---------------+-----+
|         gender|count|
+---------------+-----+
|         Female|54708|
|           Male|47055|
|Unknown/Invalid|    3|
+---------------+-----+

+---------+-----+
|   weight|count|
+---------+-----+
|     >200|    3|
|       NA|98569|
|   [0-25)|   48|
|[100-125)|  625|
|[125-150)|  145|
|[150-175)|   35|
|[175-200)|   11|
|  [25-50)|   97|
|  [50-75)|  897|
| [75-100)| 1336|
+---------+-----+

Check attributes of integer type

In [6]:
# Using a for loop to find all columns that belong to the integer data type.
numeric_features = [t[0] for t in df.dtypes if t[1] == 'int']
# Selecting the numeric features, generating summary statistics, and converting to a Pandas
df.select(numeric_features).describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
encounter_id,101766,1.652016456229782E8,1.0264029598345788E8,12522,443867222
patient_nbr,101766,5.4330400694947235E7,3.869635934653421E7,135,189502619
admission_type_id,101766,2.024006053102215,1.4454028297561132,1,8
discharge_disposition_id,101766,3.7156417664052825,5.280165509299248,1,28
admission_source_id,101766,5.754436648782501,4.064080834283912,1,25
time_in_hospital,101766,4.395986871843248,2.985107767471267,1,14
num_lab_procedures,101766,43.09564098028811,19.674362249142096,1,132
num_procedures,101766,1.339730361810428,1.705806979121172,0,6
num_medications,101766,16.021844230882614,8.127566209167309,1,81
number_outpatient,101766,0.36935715268360747,1.2672650965326817,0,42
number_emergency,101766,0.19783621248747127,0.9304722684224632,0,76
number_inpatient,101766,0.635565906098304,1.26286329009732,0,21
number_diagnoses,101766,7.422606764538254,1.9336001449974247,1,16

In [7]:
# print the frequency of each attribute's value
# for n in df.columns:
#     print(n,"count:",df.select(n).distinct().count(),"unique values")
#     df.groupBy(n).count().show()

# Step 3: Preparation and transformation

Missing Data Point

#### 3.1 Data Selection
Remove unwanted attributes

In [8]:
uni_p = df.select('patient_nbr').distinct().count()
uni_e = df.select('encounter_id').distinct().count()
print(uni_p,'unique patients out of the',uni_e,'records in dataset')

71518 unique patients out of the 101766 records in dataset

Dilema There are 71k unique patients
If i dont remove these it creates a bias towards the demographic with patients who has multiple entries eg highest entry is 40, and that is for female , 20-30, etc
If i remove it then the possible insight of having multiple instances of a person is lost
result - returned to data mining objectives and reasoned out that the focus is on the likeliness of readmission and the medical process

In [9]:
ds_df=df.drop('encounter_id')
ds_df=ds_df.drop('patient_nbr')
ds_df=ds_df.drop('admission_type_id')

ds_df=ds_df.drop('discharge_disposition_id')
ds_df=ds_df.drop('payer_code')
ds_df=ds_df.drop('medical_specialty')
ds_df=ds_df.drop('diag_1')
ds_df=ds_df.drop('diag_2')
ds_df=ds_df.drop('diag_3')
# ds_df=df.drop('')

# weight attribute was also dropped as because 97% of the data was missing. possibly due to being bedridden
ds_df=ds_df.drop('weight')

# ds_df=ds_df.drop('diag_3')
ds_df.printSchema()

root
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- admission_source_id: integer (nullable = true)
 |-- time_in_hospital: integer (nullable = true)
 |-- num_lab_procedures: integer (nullable = true)
 |-- num_procedures: integer (nullable = true)
 |-- num_medications: integer (nullable = true)
 |-- number_outpatient: integer (nullable = true)
 |-- number_emergency: integer (nullable = true)
 |-- number_inpatient: integer (nullable = true)
 |-- number_diagnoses: integer (nullable = true)
 |-- max_glu_serum: string (nullable = true)
 |-- A1Cresult: string (nullable = true)
 |-- metformin: string (nullable = true)
 |-- repaglinide: string (nullable = true)
 |-- nateglinide: string (nullable = true)
 |-- chlorpropamide: string (nullable = true)
 |-- glimepiride: string (nullable = true)
 |-- acetohexamide: string (nullable = true)
 |-- glipizide: string (nullable = true)
 |-- glyburide: string (nullable = true)
 |-- tolbutamide: string (nullable = true)
 |-- pioglitazone: string (nullable = true)
 |-- rosiglitazone: string (nullable = true)
 |-- acarbose: string (nullable = true)
 |-- miglitol: string (nullable = true)
 |-- troglitazone: string (nullable = true)
 |-- tolazamide: string (nullable = true)
 |-- examide: string (nullable = true)
 |-- citoglipton: string (nullable = true)
 |-- insulin: string (nullable = true)
 |-- glyburide-metformin: string (nullable = true)
 |-- glipizide-metformin: string (nullable = true)
 |-- glimepiride-pioglitazone: string (nullable = true)
 |-- metformin-rosiglitazone: string (nullable = true)
 |-- metformin-pioglitazone: string (nullable = true)
 |-- change: string (nullable = true)
 |-- diabetesMed: string (nullable = true)
 |-- readmitted: string (nullable = true)

In [10]:
print(ds_df.count())
ds_df=ds_df.filter("gender != 'Unknown/Invalid'")
print(ds_df.count())

101766
101763

In [11]:
#### 3.2 Data Cleaning
from pyspark.sql.functions import *
ds_df = df.withColumn('change', regexp_replace('change', 'Ch', 'Yes'))

# ds_df = df.withColumn('', regexp_replace('', '', ''))
# ds_df = df.withColumn('', regexp_replace('', '', ''))
# ds_df = df.withColumn('', regexp_replace('', '', ''))
# ds_df = df.withColumn('', regexp_replace('', '', ''))
# ds_df = df.withColumn('', regexp_replace('', '', ''))
# ds_df = df.withColumn('', regexp_replace('', '', ''))
# ds_df = df.withColumn('', regexp_replace('', '', ''))
# ds_df = df.withColumn('', regexp_replace('', '', ''))
# ds_df = df.withColumn('', regexp_replace('', '', ''))
# ds_df = df.withColumn('', regexp_replace('', '', ''))

# Requires manual reformating
# age, medication features


#### 3.3 Data Integeration
# regroup some column balues
# asmission source

#### 3.4 Data Reformatting
# To do - regroup,some columns

In [19]:
print(ds_df.count(),'/',df.count())
# Using a for loop to find all columns that belong to the integer data type.
numeric_features = [t[0] for t in ds_df.dtypes if t[1] == 'string']
# Selecting the numeric features, generating summary statistics, and converting to a Pandas
ds_df.select(numeric_features).describe().toPandas().transpose()

101766 / 101766

,0,1,2,3,4
summary,count,mean,stddev,min,max
race,101766,None,None,AfricanAmerican,Other
gender,101766,None,None,Female,Unknown/Invalid
age,101766,None,None,[0-10),[90-100)
weight,101766,None,None,>200,[75-100)
payer_code,101766,None,None,BC,WC
medical_specialty,101766,None,None,AllergyandImmunology,Urology
diag_1,101766,493.5830703296812,206.71532043694555,10,V71
diag_2,101766,438.67488318230863,178.90163753828557,11,V86
diag_3,101766,418.17928540694663,177.32397864613674,11,V86
max_glu_serum,101766,None,None,>200,Norm
A1Cresult,101766,None,None,>7,Norm
metformin,101766,None,None,Down,Up
repaglinide,101766,None,None,Down,Up
nateglinide,101766,None,None,Down,Up
chlorpropamide,101766,None,None,Down,Up
glimepiride,101766,None,None,Down,Up
acetohexamide,101766,None,None,No,Steady
glipizide,101766,None,None,Down,Up
glyburide,101766,None,None,Down,Up
tolbutamide,101766,None,None,No,Steady
pioglitazone,101766,None,None,Down,Up
rosiglitazone,101766,None,None,Down,Up
acarbose,101766,None,None,Down,Up
miglitol,101766,None,None,Down,Up
troglitazone,101766,None,None,No,Steady
tolazamide,101766,None,None,No,Up
examide,101766,None,None,No,No
citoglipton,101766,None,None,No,No
insulin,101766,None,None,Down,Up
glyburide-metformin,101766,None,None,Down,Up
glipizide-metformin,101766,None,None,No,Steady
glimepiride-pioglitazone,101766,None,None,No,Steady
metformin-rosiglitazone,101766,None,None,No,Steady
metformin-pioglitazone,101766,None,None,No,Steady
change,101766,None,None,No,Yes
diabetesMed,101766,None,None,No,Yes
readmitted,101766,None,None,<30,NO

In [12]:
q = 'age'
print(df.select(q).distinct().count())
df.select(q).distinct().orderBy(q).toPandas()

10

        age
0    [0-10)
1   [10-20)
2   [20-30)
3   [30-40)
4   [40-50)
5   [50-60)
6   [60-70)
7   [70-80)
8   [80-90)
9  [90-100)

# Step 4: Data Transformation
#### 4.1 Reduce the data
# ds_df.printSchema()
ds_df.describe().toPandas().transpose()
#### 4.2 Project the data

## training and testing set

In [14]:
# Import the relevant packages.
from pyspark.ml.feature import (VectorAssembler,VectorIndexer,OneHotEncoder,StringIndexer)

# First create a string indexer which converts every string into a number, such as male = 0
# A number will be assigned to every category in the column.
race_indexer = StringIndexer(inputCol='race',outputCol='raceIndex')
gender_indexer = StringIndexer(inputCol='gender',outputCol='genderIndex')
_indexer = StringIndexer(inputCol='',outputCol='Index')

In [15]:
ds_df.select('change').describe().toPandas()

  summary  change
0   count  101766
1    mean    None
2  stddev    None
3     min      No
4     max     Yes

In [16]:
from pyspark.sql.functions import *
ds_df = df.withColumn('change', regexp_replace('change', 'Ch', 'Yes'))
ds_df.select('change').describe().toPandas()

  summary  change
0   count  101766
1    mean    None
2  stddev    None
3     min      No
4     max     Yes